.signupPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.signupPageDark {
  background-color: #333;
}

.signupPageLight {
  background-color: #f8f9fb;
}

.signupComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  padding: 1.5em;
}

.signupComponentDark {
  background-color: #121212;
  color: #fff;
}

.signupComponentLight {
  background-color: #dee4e7;
  color: #333;
}

input {
  border-radius: 0.5em;
  padding: 1em 2em;
  border: none;
  outline: none;
}

.inputComponent {
  margin: 0.8em 0em;
}

.inputDark {
  background-color: #333;
  color: #fff;
}

.inputLight {
  background-color: #ffffff;
  color: #333;
}

.btn {
  border-radius: 2em;
  padding: 1em 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #eee;
  margin: 0.5em 0em;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnLight {
  background-color: #333;
  color: #fff;
}

.btnLight:hover {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
}

.btnDark {
  background-color: #fff;
  color: #333;
}
.btnDark:hover {
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
}

.btnIcon {
  font-size: 1.3rem;
  margin: 0em 0.2em;
}

.navigateBtn {
  margin: 1em 0em;
}

.navigateBtn > span {
  font-weight: 700;
  margin: 0em 0.5em;
  color: #303f9f;
  cursor: pointer;
  text-decoration: underline;
}

.passwordIcon {
  transform: translate(-33px, 4px);
  padding: 0;
  margin: 0;
}
